* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	line-height: 1;
}

html, body {
	font-family: 'Summer', sans-serif;
	font-size: 16px;
	color: #fff;
}

a {
	text-decoration: none;
	color: inherit;
}

li {
	list-style: none;
}

h2 {
	font-weight: 500;
	font-size: 18px;
}

h3 {
	font-weight: 600;
	font-size: 16px;
}

button {
	border: none;
	background: none;
	outline: none;
	cursor: pointer;
}

input {
	border: none;
	outline: none;
}

/* ============================================ */

/* =========== FONTS ============= */

@font-face {
	font-family: 'Summer';
	src: url("../fonts/summer.otf") format("opentype");

}

@font-face {
	font-family: 'Leosler';
	src: url("../fonts/leosler.otf") format("opentype");
}

/* =========== END FONTS =========== */

.wrapper {
	width: 100%
}

.top-container {
	position: relative;
	width: 100%;
	height: 980px;
	background-color: #000;	
	background-image: url('../img/top-bg.jpg');
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
}

.title__block {
	margin: 0 auto;
	padding-top: 65px;
	width: 415px;
}

.title {
	font-family: 'Leosler', sans-serif;
	color: #fff;
	font-size: 72px;
	line-height: 1.1;
   text-align: center;
   letter-spacing: 4px;
}

.green {
	color: #97d700;
}

.date {
	position: absolute;
	display: flex;
	justify-content: center;
	padding-top: 20px;
	top: 0;
	left: 65px;
	width: 395px;
	height: 195px;
	background-image: url('../img/top.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}  

.date__span {
	color: #fff;
	font-size: 88px;
  	font-family: 'Summer', sans-serif;
  	font-weight: bold;
}

.sub-title__block {
	position: absolute;
	bottom: -70px;
	left: 0;
	right: 0;
	z-index: 2;
	background: linear-gradient(to top, #000, 83%, transparent);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.top-sub-title {
	font-family: 'Leosler', sans-serif;
   line-height: 1;
   display: block;
   letter-spacing: 2px;
   margin: 0 auto;
   font-size: 68px;
}

.top-button {
	display: block;
	border: 3px solid #fff;
	border-radius: 5px;
	background-color: #000;
	margin-top: 50px;
	padding: 20px 70px; 
	font-family: 'Leosler', sans-serif;
	letter-spacing: 2px;
	font-size: 28px;
	color: #fff;
	text-transform: uppercase;
}


.main-wrapper {
	position: relative;
	width: 100%;
	background-image: url('../img/bg.png');
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
}

.flashmob {
	padding: 160px 100px 0;
}

.section__title {
	font-family: 'Leosler', sans-serif;
	line-height: 1.1;
	font-size: 97px;
	color: #fff;
	text-transform: uppercase;
}

.flashmob__container {
	display: flex;
	margin-top: 50px;
}

.text__block {
	display: flex;
	flex-direction: column;
	text-transform: uppercase;
	padding-top: 145px;
}

.text-up {
	font-size: 64px;
	line-height: 0.9;
}

.text-middle {
	font-size: 92px;
	line-height: 0.9;
}

.text-bottom {
	font-size: 136px;
	line-height: 0.9;
}

.boo {
	max-width: 510px;
	margin-left: 105px;
}

.flashmob__text {
	font-family: 'Leosler', sans-serif;
	font-size: 40px;
	align-self: center;
	padding-top: 150px;
	margin-left: -40px;
	line-height: 1.3;
}

.program {
	padding: 140px 100px 0;
}

.program__container {
	display: flex;
	justify-content: space-between;
	margin-top: 60px;
}

.program__column {
	display: flex;
}

.program__column:first-child {
	padding-top: 110px;
}

.cake-img {
	max-width: 290px;
	align-self: flex-start;
}

.witch-img {
	max-width: 256px;
	align-self: flex-start;
}

.program__block {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 60px;
}

.program__text__block {
	padding-top: 20px;
	text-transform: uppercase;
}

.l-program__text-up {
	font-family: 'Leosler', sans-serif;
	font-size: 71px;
}

.l-program__text-middle {
	font-size: 108px;
}
.l-program__text-bottom {
	font-size: 79px;
}

.r-program__text-up {
	font-family: 'Leosler', sans-serif;
	font-size: 78px;
}

.r-program__text-middle {
	font-size: 100px;
}
.r-program__text-bottom {
	font-size: 123px;
}

.program__btn {
	width: 390px;
	height: 122px;
	background-image: url('../img/btn.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase; 
	font-family: 'Leosler', sans-serif;
	font-size: 40px;
	padding-bottom: 10px;
	align-content: flex-end;
}

.left-block {
	padding-top: 50px;
}

.right-block {
	padding-top: 138px;
}

.left-btn {
	margin-top: 70px;
}

.right-btn {
	margin-top: 48px;
}

.helloween-footer {
	padding: 300px 100px 200px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.helloween-footer__column {
	display: flex;
	flex-direction: column;
}

.helloween-footer__span {
	color: #c6007e;
	font-size: 86px;
	padding-left: 40px; 
}

.helloween-footer__title {
	color: #c6007e;
	font-family: 'Leosler', sans-serif;
	font-size: 95px;
	text-transform: uppercase;
	padding-left: 40px; 
}

.ghost-img {
	max-width: 521px;
	margin-top: 50px;
}

.children-img {
	max-width: 664px;
	margin-right: 100px; 
}